<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Actualizar Profesor</title>
        <%- include('../../../partials/head') %>
    </head>
    <body class="bg-light">
        <%- include('../../../partials/nav_admin') %>
        <div class="container p-5 d-flex justify-content-center">
            <div
                class="card border-0 shadow-lg rounded-4"
                style="max-width: 550px"
            >
                <div class="card-body p-5">
                    <h2 class="text-center text-primary mb-4">
                        <i class="bi bi-pencil-square"></i> Actualizar Profesor
                    </h2>

                    <% if (error) { %>
                    <div
                        class="alert alert-danger alert-dismissible fade show mb-4"
                        role="alert"
                    >
                        <strong>Error!</strong> <%= error.message %>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                        ></button>
                    </div>
                    <% } %>

                    <form method="POST" action="/admin/profesor/update/<%= profesor.profesor_id %>">
                        <div class="mb-3">
                            <label for="prof_nombres" class="form-label"
                                >Nombres</label
                            >
                            <input
                                type="text"
                                class="form-control border-primary shadow-sm"
                                id="prof_nombres"
                                name="prof_nombres"
                                value="<%= profesor?.profesor_nombres || '' %>"
                                required
                            />
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label
                                    for="prof_apellido_paterno"
                                    class="form-label"
                                    >Apellido Paterno</label
                                >
                                <input
                                    type="text"
                                    class="form-control border-primary shadow-sm"
                                    id="prof_apellido_paterno"
                                    name="prof_apellido_paterno"
                                    value="<%= profesor?.profesor_apellido_paterno || '' %>"
                                    required
                                />
                            </div>
                            <div class="col">
                                <label
                                    for="prof_apellido_materno"
                                    class="form-label"
                                    >Apellido Materno</label
                                >
                                <input
                                    type="text"
                                    class="form-control border-primary shadow-sm"
                                    id="prof_apellido_materno"
                                    name="prof_apellido_materno"
                                    value="<%= profesor?.profesor_apellido_materno || '' %>"
                                    required
                                />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="prof_clave" class="form-label"
                                >Clave de Profesor</label
                            >
                            <input
                                type="text"
                                class="form-control border-primary shadow-sm"
                                id="prof_clave"
                                name="prof_clave"
                                value="<%= profesor?.profesor_clave || '' %>"
                                required
                            />
                        </div>

                        <div class="mb-3">
                            <label for="prof_password" class="form-label"
                                >Contraseña</label
                            >
                            <input
                                type="password"
                                class="form-control border-primary shadow-sm"
                                id="prof_password"
                                name="prof_password"
                                value="<%= profesor?.profesor_password || '' %>"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="prof_fecha_nacimiento" class="form-label"
                                >Fecha de Nacimiento</label
                            >
                            <input
                                type="date"
                                class="form-control border-primary shadow-sm"
                                id="prof_fecha_nacimiento"
                                name="prof_fecha_nacimiento"
                                value="<%= profesor?.profesor_fecha_nacimiento || '' %>"
                                required
                            />
                        </div>

                        <div class="mb-3">
                            <label for="prof_genero" class="form-label"
                                >Género</label
                            >
                            <select
                                class="form-select border-primary shadow-sm"
                                id="prof_genero"
                                name="prof_genero"
                                required
                            >
                                <option value="">Selecciona una opción</option>
                                <option value="M" <%= profesor?.profesor_genero === 'M' ? 'selected' : '' %>>Masculino</option>
                                <option value="F" <%= profesor?.profesor_genero === 'F' ? 'selected' : '' %>>Femenino</option>
                                <option value="O" <%= profesor?.profesor_genero === 'O' ? 'selected' : '' %>>Otro</option>
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="prof_academia_id" class="form-label"
                                >Academia</label
                            >
                            <select
                                class="form-select border-primary shadow-sm"
                                id="prof_academia_id"
                                name="prof_academia_id"
                                required
                            >
                                <option value="" selected disabled>
                                    Selecciona una academia
                                </option>
                                <% academias.forEach(academia => { %>
                                <option 
                                    value="<%= academia.academia_id %>" 
                                    <%= profesor?.profesor_academia_id === academia.academia_id ? 'selected' : '' %>>
                                    <%= academia.academia_nombre %>
                                </option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="prof_departamento_id" class="form-label"
                                >Departamento Académico</label
                            >
                            <select
                                class="form-select border-primary shadow-sm"
                                id="prof_departamento_id"
                                name="prof_departamento_id"
                                required
                            >
                                <option value="" selected disabled>
                                    Selecciona un departamento
                                </option>
                                <% departamentos.forEach(departamento => { %>
                                <option 
                                    value="<%= departamento.departamento_id %>" 
                                    <%= profesor?.profesor_departamento_id === departamento.departamento_id ? 'selected' : '' %>>
                                    <%= departamento.departamento_nombre %>
                                </option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="mb-4 form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                name="prof_activo"
                                id="prof_activo"
                                <%= profesor.profesor_activo ? "Checked" : "" %>
                            />
                            <label class="form-check-label" for="prof_activo">
                                Activo
                            </label>
                        </div>

                        <div class="mb-3">
                            <label for="prof_fecha_alta" class="form-label"
                                >Fecha Alta</label
                            >
                            <input
                                type="date"
                                class="form-control border-primary shadow-sm"
                                id="prof_fecha_alta"
                                name="prof_fecha_alta"
                                value="<%= profesor?.profesor_fecha_alta || '' %>"
                                required
                            />
                        </div>

                        <div class="mb-3">
                            <label for="prof_fecha_baja" class="form-label"
                                >Fecha Baja</label
                            >
                            <input
                                type="date"
                                class="form-control border-primary shadow-sm"
                                id="prof_fecha_baja"
                                name="prof_fecha_baja"
                                value="<%= profesor?.profesor_fecha_baja || '' %>"
                            />
                        </div>

                        <div class="d-grid">
                            <button
                                type="submit"
                                class="btn btn-primary shadow-sm"
                            >
                                <i class="bi bi-save"></i> Guardar Cambios
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../../partials/footer') %>
    </body>
</html>
